<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Department Update Form</title>
    <link rel="stylesheet" href="/departments/css/edit-department.css" />
</head>
<body>
<h2>Department Update Form</h2>
<a th:href="@{/departments}">Back to list</a>
<form id ="editDepartmentForm">
    <label for="code">Code:</label>
    <input type="text" id="code" name="code" required>

    <label for="name">Department Name:</label>
    <input type="text" id="name" name="name" required>

    <button type="submit">Submit</button>
</form>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/departments/js/edit-department.js"></script>
</body>
</html>
